@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f9fafb;
  font-family: sans-serif;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headers {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.changelog-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #7e8ca1;
}

.changelog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 40px 200px;
}

.changelog-div {
  height: 450px;
  max-width: 600px;
  border-left: 2px solid #b3a8a8;
}

.changelog-item {
  position: relative;
  margin-bottom: 40px;
}

.changelog-item::before {
  content: "";
  position: absolute;
  left: -12px;
  top: -2px;
  width: 16px;
  height: 16px;
  border: 3px solid #f9fafb;
  background-color: #3b82f6;
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

.changelog-date {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #6b7280;
  position: absolute;
  left: -150px;
}

.changelog-button {
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

.changelog-button:hover {
  cursor: pointer;
  background-color: #292a2c;
}
